# Node.js
node_modules/
npm-debug.log

# Dependency directories
jspm_packages/

# Output of 'npm run build'
dist/

# Environment variables
.env

# Editor-specific files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# macOS
.DS_Store

# Logs and databases
*.log
*.sqlite
*.db

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Yarn
yarn-error.log
.pnp.*
.pnp.js

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.sublime-project
*.komodoproject
.komodotools
.bundle/
.ruby-version
.rvmrc
.nvmrc
.electric*.*

# Misc
*.swp
*.swo
*.map
.sass-cache/
yarn.lock
*.log
*.pid

# Express.js
/dist
/tmp
